
    # # Configuration for Wavefront proxy to send metrics to
    [[outputs.wavefront]]
      host = "{{ telegraf_wfproxyhost }}"
      port = {{ telegraf_wfproxyport }}
      metric_separator = "."
      source_override = ["hostname", "snmp_host", "node_host"]
      convert_paths = true
      use_regex = false
